*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.hamburger{
    display: block;
    background: #573000;
    width: 30px;
    height: 3px;
    position: relative;
    z-index: 3;
}


.hamburger:before, .hamburger:after{
    background: #573000;
    content:"";
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    transition: .5s;
}


.hamburger:before{
    top: -10px;
}


.hamburger:after{
    bottom: -10px;
}


input{
    display:none;
}


input:checked ~ label .hamburger{
    transform: rotate(45deg);
    background-color: #fff;
}


input:checked ~ label .hamburger:before{
    transform: rotate(90deg);
    top: 0px;
    background-color: #fff;
}


input:checked ~ label .hamburger:after{
    transform: rotate(90deg);
    bottom: 0px;
    background-color: #fff;
}



header h1, .menu{
    height: 80px;
    line-height: 80px;
    color: #573000;
}


header h1{
    padding-left: 25px;
    letter-spacing: 7px;
}


header p{
    margin-left: 25px;
    letter-spacing: 2px;
    color: #573000;
    margin-top: -50px;
}


header .menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: -41px;
}


header nav ul{
   width: 100%;
   height: 100vh;
   background-color: #573000;
   transition: .5s;
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: -37%;
   justify-content: center;
   left: -100%;
   z-index: 2;
}


header nav ul li{
    padding: 20px;
}


header nav ul li a{
    font-size: 35px;
    color: #fff;
}


header .links-pc{
    display: none;
}


#menu-hamburger:checked ~ ul{
    left: 0;
}


.titulo{
    position: absolute;
    padding-top: 80px;
    z-index: 1;
    color: #fff;
    padding-left: 25px;
}


.titulo h3{
    font-size: 40px;
}

.titulo span{
    font-size: 30px;
    font-family: Dancing Script;
}


/* Slider */

.foto{
   width: 100%; 
   margin-top: 15px;
}

/* Fim */



main .principal article .s{
    font-size: 30px;
    font-family: Dancing Script;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    color: #573000;
}


.principal{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.principal article h2{
    text-align: center;
    font-size: 26px;
    letter-spacing: 3px;
    color: #573000;    
    padding-bottom: 20px;
}


.principal article img{
    width: 100%;
}


main .principal article p{
    padding-top: 40px;
    line-height: 30px;
    color: #573000;
}

 
main .principal article:nth-child(3){
    display: none;
}


footer .imagem{
    margin-top: 60px;
    width: 100%;
    height: 320px;
    background-image: url('../Imagens/imagem-do-rodape.jpg');
    background-repeat: no-repeat;
}


footer .imagem a{
    color: #fff;
    font-size: 120px;
    margin-top: 225px;
}


footer .imagem span{
    display: flex;
    justify-content: center;
}


footer .contato{
    width: 100%;
    height: 320px;
    background-color: #573000;
}


footer .contato article form input::placeholder{
    color: #fff;
}


footer .contato article{
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}


footer .contato article p{
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 45px;
}


footer .contato article form .con{
    padding: 10px;
    background-color: #573000;
    font-size: 17px;
    border: 3px solid #fff;
    display: block;
    width: 95%;
    color: #fff;
    margin-top: 20px;
}


footer .contato .social{
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}


footer .contato .social a{
    color: #fff;
    padding: 0 20px;
    font-size: 35px;
}


@media (max-width: 768px) and (orientation:landscape){

    header h1{
        font-size: 40px;
        letter-spacing: 15px;
        margin-left: 18px;
    }



    header p{
        font-size: 18px;
        letter-spacing: 8px;
        word-spacing: 4px;
        margin-left: 40px;
    }

    header nav ul{
        margin-top: -20%;
    }


    header nav ul li{
        padding: 9px;
    }


    header nav ul li:first-child{
        margin-top: -40px;
    }


    header nav ul li a{
        font-size: 35px;
    }


    header .p{
        max-width:111vw;
        background-color: black;
        height: 196vh;
        margin-top: -28px;
    }

    header .p .galeria img{
        width: 96vw;
        overflow: hidden;
        margin-top: 10px;
    }


    .titulo{
        margin-top: 40px;
    }

    .titulo span{
        font-size: 50px;
    }

    .titulo h3{
        font-size: 60px;
    }


    main .principal article .s{
        font-size: 35px;
    }

    
    main .principal article h2{
        font-size: 36px;
    }

    
    main .principal article p span{
        font-size: 20px;
        line-height: 9px;
    }


    /* Pagina Produtos */
    main .tp{
        font-size: 40px !important;
        letter-spacing: 6px;
    }

    main .produtos .Linha article h1, main .produtos .Linha article span{
        font-size: 35px !important;
    }

    /* Fim */

    footer .imagem{
        margin-top: 60px;
        width: 100%;
        height: 500px;
        background-image: url('../Imagens/imagem-do-rodape.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }


    footer .imagem span a{
        margin-top: 400px;
    }


    footer .contato article p{
        font-size: 25px;
    }


    footer .contato .social{
        margin-top: -25px;
    }

    footer .contato .social article a{
        font-size: 40px;
        padding: 0 25px;
    }

}


/* Site no PC */

@media (min-width: 770px){

    header h1{
        padding-top: 15px;
        font-size: 40px;
    }

    header .links-pc{
        line-height: 80px;
    }

    header .links-pc{
        display: block;
        display: flex;
        justify-content: flex-end;
        margin-top: -65px;
    }


    header .links-pc article a{
        font-size: 30px;
        padding: 10px;
        color: #573000;
    }



    header nav, header p{
        display: none;
    }



    header .p .galeria img{
        width: 100vw;
        margin-top: 30px;
    }


    header .titulo{
        margin-top: 90px;
        margin-left: 40px;
    }


    header .titulo span{
        font-size: 90px;
    }


    header .titulo h3{
        font-size: 110px;
    }


    main .principal{
        display: flex;
        flex-direction: column;
    }


    main .principal article{
        margin-top: 50px;
        margin-bottom: 80px;
    }


    main .principal article section{
        display: flex;
    }


    main .principal article section img{
        max-width: 50vw;
        padding: 15px;
    }



    main .principal article:nth-child(2){
        display: none;
    }


    main .principal article:nth-child(3){
        display: block;
    }


    main .principal article .s{
        font-size: 60px;
    }

    main .principal article h2{
        font-size: 60px;
    }


    main .principal article p span{
        font-size: 22px;
    }

    /* Pagina Biografia */ 

    main h4{
        font-size: 60px !important;
        letter-spacing: 9px !important;
        margin-top: 90px !important;
        margin-bottom: 70px !important;

    }

    /* Pagina Produtos */

    main .tp{
        font-size: 60px !important;
        margin-top: 70px !important;
        margin-bottom: 90px !important;
        letter-spacing: 9px;
    }


    main .produtos{
        width: 90%;
        display: flex;
        flex-direction: column;
    }


    main .produtos .Linha{
        display: flex;
    }


    main .produtos .Linha article{
        margin: 20px;
    }


    main .produtos .Linha article h1{
        text-align: center;
    }


    /* Fim */


    footer .imagem{
        width: 100vw;
        background-image: url('../Imagens/imagem-do-rodape.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }


    footer .contato{
        width: 100vw;
        display: flex;
    }


    footer .contato article{
        min-width: 50%;
        margin-left: 60px;
    }


    footer .contato .social{
        margin-left: 40px;
        height: 100%;
    }

    footer .contato .social article{
        margin-top: 60px;
    }


    footer .contato .social article a{
        font-size: 60px;
        padding: 25px;
        margin-top: 60px;
    }

    footer .contato article form .con{
        padding: 20px;
    }

    footer .contato article form input::placeholder{
        color: #fff;
        font-size: 25px;
    }


    footer .contato article p{
        font-size: 27px;
    }


}

/* Fim */



/* Pagina Produtos */
main .tp{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #573000;
}


main .produtos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


main .produtos .Linha article{
    border: 1px solid #573000;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main .produtos .Linha article img{
    width: 75%;
}


main .produtos .Linha article h1{
    font-size: 22px;
    color: #573000;
}

main .produtos .Linha article span{
    font-size: 22px;
}

/* Fim */


/* Pagina Biografia */

main h4{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #573000;
}


main .biografia{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


main .biografia p{
    color: #573000;
    text-align: center;
}

/* Fim */


/* Localização */
main .ifram{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

main .ifram article p{
    text-align: center;
    color: #573000;
    margin-top: 40px;
}

article iframe{
    width: 100%;
    height: 400px;
}



